* {
    margin: 0;
    padding: 0;

    background-color: #fbfbfb;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a{
    color: black;
}

.header{
    display: flex;
    justify-content: space-around;
   padding: 17px;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-weight: bold;

    background-color: #fbfbfb;
   
    /* border: 3px solid red; */
}

.icon-text{
    font-weight: bold;
    font-size: large;
}
.icon img{
    width: 40px;
}

.header-lhs{
    /* border: 2px solid green; */

    display: flex;
}

.header-lhs a{
    align-content: center;

    /* border: 2px solid red; */
    text-decoration: none;
    margin: 2px 10px;

    color: rgb(41, 41, 41);
    font-size: larger;
    font-weight: 300;
    
}

.header-rhs{
    display: flex;
    /* border: 2px solid green; */
}

.header-rhs input{
    padding: 0px 10px;
    outline: 0;
    border:1px solid black;
    font-size: small;
}
.header-rhs *{
    align-content: center;
    justify-content: center;
    margin: 2px 10px;
    
    /* border: 2px solid red; */
    text-decoration: none;
    font-weight: 400;

    color: rgb(41, 41, 41);
}

.header-rhs button{
    background-color: rgb(0,120,212);
    padding: 8px 12px ;
    outline: none;
    border: none;
    border-radius: none;
    font-weight:400;
    font-size: medium;
    color: white;
    margin: 2px auto;
}





.notifications>div {
    max-width: fit-content;
    margin: 2.5% auto 4%;
    /* border: 2px solid red; */

    font-size: medium;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}

.blue{
    color: rgb(0,120,212);
}

.gray{
    color: gray;
}

.container {
    display: flex;
    justify-content: space-evenly;
}

.container .LHS{
    /* border: 2px solid red; */
}

.container .LHS > button{
    padding: 5px 22px;
    border-radius: 20px;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-size: 0.85rem;
    font-weight: 400;

    margin: 18% 0% 0% 12%;
}

.main-text{
    font-size: 3rem;
    font-weight: 500;
    margin: 5% 0% 0% 12%;

    /* border: 2px solid red; */


}

.big-blue-button > button{
    background-color: rgb(0,120,212);
    padding: 8px 25px;
    
    border: 2px solid rgb(0,120,212);

    font-weight: 500;
    font-size: large;
    color: white;
    border-radius: 4px;

    margin: 3% 0% 0% 12%;
}

.below-button{
    /* border: 2px solid green; */
    margin: 3% 0% 3% 12%;
    font-size: 0.9rem;
}

.below-below-button{
    margin: 1% 0% 0% 12%;
    font-size: 0.7rem;

}

.container .RHS{
    /* border: 2px solid green; */

}